spring.jpa.show-sql=true
logging.level.org.springframework.data=DEBUG
spring.jpa.generate-ddl=false

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5Dialect

mail.username=
mail.password=
